body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

canvas {
  background-color: #ffffff;
  border: 3px solid #000;
  margin-top: 10px;
}

h1 {
  margin-bottom: 5px;
}
